[submodule "src/third-party/cutlass"]
	path = src/third-party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "src/third-party/nlohmann_json"]
	path = src/third-party/nlohmann_json
	url = https://github.com/nlohmann/json.git
